body {
   /* background: black;*/
}

#clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:#a5842a ;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
#img {
    align-content:center;
    display: flex;
    
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */

}